<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap"rel="stylesheet"/>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Secret</title>
</head>
<body>
  <section id="main">
    <header class="d-flex align-items-center">
      <i class="fa-regular fa-lightbulb h1 text-light me-1"></i>
      <h1>Keeper</h1>
    </header>
  
      <form class="form" action="/" method="post">
        <input name="title" placeholder="Title" />
        <textarea name="text" placeholder="Take a note..." rows="3" ></textarea>
        <button class="btn" name="noteValue" value="<%= paramValue %>" type="hidden"><i class="fa-solid fa-plus"></i></button>
      </form>
  
      <% notes.forEach((note) => { %>
        <form id="note" class="note" action="/delete" method="post">
          <h1><%= note.title %></h1>
          <p><%= note.text %></p>
          <button id="deleteBtn" name="deleteBtn" value="<%= note._id %>" type="submit"><i class="fa-regular fa-trash-can"></i></button>
          <!-- <i id="updateBtn" name="updateBtn" class="fa-regular fa-pen-to-square"></i> -->
        </form>
        
        <% }) %>
      </section>
      
      <section id="update-form" class="update-text hidden">
        <form action="/update" method="post">
          <input name="updateTitle" placeholder="Title" type="text" value="">
          <textarea placeholder="Content" name="updateContent" id="" rows="3" ></textarea>
          <button name="titleValue" id="updateBtn" class="btn" type="submit">Save</button>
        </form>
      </section>

  <script src="/script.js"></script>
</body>
</html>